{% extends 'includes/base.html' %}

{% block taskspage %}
{% endblock taskspage %}

{% block user_dashboard %}
{% endblock user_dashboard %}

{% block lead_dashboard %}
{% endblock lead_dashboard %}

{% block manager_dashboard %}
{% endblock manager_dashboard %}

{% block signinpage %}
    <li class="nav-item">
        <a class="nav-link text-white" href="{% url 'sign_in' %}">SignIn</a>
    </li>
{% endblock signinpage %}

{% block content %}
<div class="container mt-2">
  <div class="card">
    <div class="card-body">
      <center><h5 class="card-title">Our Journey</h5>
      <hr width="20%"></center>
      <p class="card-text float-start" style="width: 80%;text-align: justify;">Initially, we have started this LTRC4Indic program on <i>1st September 2019</i> under the supervision of <a href='https://www.iiit.ac.in/people/faculty/m.shrivastava/' target="_blank">Dr. Manish Shrivasta</a>. As a pilot study, this program initiates for the annotation of Telugu abstractive summarization corpus. After a lot of brainstorming, <i>Dr. Manish Shrivstava</i> suggested us to <b><q>begin this program with a 10 weeks virtual internship followed by in campus summer and long-term internships</q></b>. In the first year, we got around 350 registrations from the two institutes. Majority of the registrations came from popular institutes of Andhrapradesh and Telangana states.</p>

      <p class="card-text float-end" style="width: 80%;text-align: justify;">Since 2019, We have been hosting students from reputed institutes at IIIT-Hyderabad for their internships. Upon completion of summer and remote internships, students have learned NLP concepts and implemented large-scale projects on Indian Languages. Among them, some students have been offered a long-term internship to continue their research in the LTRC lab. The main aim of this internship program is to introduce NLP and Deep Learning concepts to enthusiastic students and allow the students to contribute to the projects’ entire pipeline: from data preparation to model deployment.</p>
    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="card">
    <div class="card-body">
      <center><h5 class="card-title">Remote Internship at LTRC-IIITH</h5>
      <hr width="40%"></center>
      <p class="card-text">This internship program is a 8-10 weeks program where the selected students will learn the NLP and Deep Learning concepts. In this program, the students who are about to complete their graduation from the reputed institutes will be selected. Upon selection process, the intern will be assigned to a mentor for one of the crowdsourced data tasks</p>
      <p class="card-text">In NLP tutorial & sessions, each week, we'll take a lecture on the predefined lecture contents and release the assignment on the same topic along with the Quiz. Also, we monitor the performance of the students' and resolve their queries in the NLP course.</p>
      <p class="card-text">Last but not least, In crowdsourced data tasks, each registered student will be assigned to one of the tasks. Initially, interns will be trained with the data tasks using the pilot study policy (where each intern will be assigned with set of samples). After training session, each user will be assigned with the set of samples in an iterative manner to work on the data annotation tasks. Each interns performance will be evaluated by assigned evaluator and provide the feedback to improve thier performance in upcoming tasks.</p>
      <p class="card-text"><b><font color="red">Note: </font>No stipend will be provided.</b></p>

      <div class="card border-0">
        <div class="card-body">
          <h5>Benefits:</h5>
          <div class="">
            <ol class="list-group list-group-light list-group-numbered">
                <li class="list-group-item border-0 py-1">Certificate of completion</li>
                <li class="list-group-item border-0 py-1">Chance to get an internship (long term or short term) in IIITH, LTRC lab</li>
                <li class="list-group-item border-0 py-1">Learning basic understanding of NLP and Deep Learning concepts</li>
                <li class="list-group-item border-0 py-1">Get an opportunity to attend the workshops provided by IIITH faculty at RGUKT campuses</li>
                <li class="list-group-item border-0 py-1">Interaction with the Research students in IIITH</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <h5>Responsibilities:</h5>
          <div class="">
            <ol class="list-group list-group-light list-group-numbered">
                <li class="list-group-item border-0 py-1">Annotation of the dataset for Indian languages</li>
                <li class="list-group-item border-0 py-1">Reading research papers and blogs related to NLP concepts</li>
                <li class="list-group-item border-0 py-1">Implementation of basic concepts of NLP using Python</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <h5>Rules:</h5>
          <div class="">
            <ol class="list-group list-group-light list-group-numbered">
                <li class="list-group-item border-0 py-1">Every student has to update their work on a weekly basis.</li>
                <li class="list-group-item border-0 py-1">Evaluation of work takes place every Sunday</li>
                <li class="list-group-item border-0 py-1">Based on the performance in the remote internship, students get an opportunity to receive the summer internship offer.</li>
                <li class="list-group-item border-0 py-1">If the quality of the work is not satisfactory, candidates may be removed from the internship program at any point of time.</li>
            </ol>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<div class="container mt-2">
  <div class="card">
    <div class="card-body">
      <center><h5 class="card-title">Summer Internship at IIIT-Hyderabad</h5>
      <hr width="40%"></center>
      <p class="card-text">In this summer internship program, selected interns will work on the NLP projects. Projects will be given in the area of Machine translation, Summarization and Question answering (<a href='https://ltrc.iiit.ac.in/#nlpmt' target="_blank">ltrc-nlpmt</a>). In this internship selection process, we'll check the performance of the student in remote internship program and their commitment towards contributing to the data annotation tasks.</p>

      <p class="card-text">Apart from the summer internship project, each annotator will be assigned to a data annotation task. Here, the main motto is to train the interns for building models on various problem statments and understand the impact of data in those models.</p>
      
      <p class="card-text"><b>Eligibility Criteria:</b> Only the students who have completed the remote internship will be allowed to apply for this program.</p>
      
      <p class="card-text"><b>Duration:</b> 2 months during summer</p>

      <div class="card border-0">
        <div class="card-body">
          <h5>Selection Process:</h5>
          <div class="">
            <ol class="list-group list-group-light list-group-numbered">
                <li class="list-group-item border-0 py-1">Performance in the NLP course during remote internship</li>
                <li class="list-group-item border-0 py-1">Performance in the assigned data annotation task</li>
                <li class="list-group-item border-0 py-1">Summer Internship Entrance test (Online) (prerequisites: NLP, python, ML)</li>
                <li class="list-group-item border-0 py-1">Online Inteview</li>
            </ol>
          </div>
        </div>
      </div>


    </div>
  </div>
</div>

<div class="container my-2">
  <div class="card">
    <div class="card-body">
      <center><h5 class="card-title">Long-term Internship at IIIT-Hyderabad</h5>
      <hr width="40%"></center>
      <p class="card-text">In this Long-term Internship program, interns are assigned with a project for a group of 2-4 members. In this program each intern has to do the data evaluation task along with the project work.</p>

      <p class="card-text">In data evaluation task, each intern will be trained with sample data evaluation (where sample data includes 5-10 samples for evaluation). The quality of these evaluations will be verified by the task coordinator and provide coordinator will provide feedback to intern for improvement in performance. Upon completion of the training phase, each evaluator will get 5-10 annotated submissions in an iterative way with fixed deadlines. Here, evaluator needs to evaluate each submission and provide the feedback/comments to the annotator along with the evaluations scores.</p>

      <p class="card-text">In the project work, intern has to develop a baseline model in the first 1-2 months with significant results. Later, the intern has to improve the model or build their own model specific to the given problem statement.</p>

      <p class="card-text"><b>Eligibility Criteria:</b> Only the students who have completed the summer internship will be allowed to apply for this program.</p>
      
      <p class="card-text"><b>Duration:</b> 6 months (extension would be possible based on performance)</p>

      <div class="card border-0">
        <div class="card-body">
          <h5>Pre-requisites:</h5>
          <div class="">
            <ol class="list-group list-group-light list-group-numbered">
                <li class="list-group-item border-0 py-1">Good knowledge on programing language</li>
                <li class="list-group-item border-0 py-1">Ability to understand the problem statement and solving techniques</li>
                <li class="list-group-item border-0 py-1">Experience on NLP/ML models</li>
            </ol>
          </div>
        </div>
      </div>

      <div class="card border-0">
        <div class="card-body">
          <h5>Selection Process:</h5>
          <div class="">
            <ol class="list-group list-group-light list-group-numbered">
                <li class="list-group-item border-0 py-1">Performance in the summer internship project</li>
                <li class="list-group-item border-0 py-1">Performance in the assigned data annotation task</li>
                <li class="list-group-item border-0 py-1">Online Inteview</li>
            </ol>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

{% endblock content %}

{% block page_footer %}
{% endblock page_footer %}