{% load static %}
<!DOCTYPE html>
<html>
  <head>
    
    <meta charset="utf-8">
    <title>{% block title_block %} LTRC Crowdsourced Data Interface {% endblock title_block %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">
    <script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>

    {% block include_style %}
    {% endblock include_style %}

  </head>
  <body>
    {% block include_script %}
    {% endblock include_script %}

    {% block page_header %}
    <header>
      <nav class="navbar navbar-expand-lg py-0 navbar-light" style="background-color: #1974D2;">
        <!-- <a class="navbar-brand text-white" href="#">Navbar</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button> -->
        <div class="collapse navbar-collapse" id="navbarNav">
          {% block menuchange %}
          <ul class="navbar-nav">
            {% block homepage %}
            <li class="nav-item active">
              <a class="nav-link text-white active" href="{% url 'home' %}">Home</a>
            </li>
            {% endblock homepage %}
            {% block aboutpage %}
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'about' %}">About</a>
            </li>
            {% endblock aboutpage %}

            {% block import_data %}
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'import_data' %}">Import Data</a>
            </li>
            {% endblock import_data %}

            {% block annotate_data %}
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'annotation' %}">Manage Data</a>
            </li>
            {% endblock annotate_data %}

            {% block contactpage %}
            <li class="nav-item">
              <a class="nav-link text-white" href="{% url 'contact_us' %}">Contact Us</a>
            </li>
            {% endblock contactpage %}

          </ul>
          {% endblock menuchange %}
        </div>
      </nav>
    </header>
    {% endblock page_header %}


    {% block content %}{% endblock content %}
    
    {% block page_footer %}
    <!-- Footer -->
    <footer class="page-footer font-small blue bg-dark">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3 text-white">&copy; 2022 Copyright:
        <a href="https://ltrc.iiit.ac.in/" target="_blank"> LTRC-IIIT Hyderabad</a>
      </div>
      <!-- Copyright -->
    </footer>
    <!-- Footer -->
    {% endblock page_footer %}

    {% block include_script_bottom %}
    {% endblock include_script_bottom %}
  </body>
</html>