{% extends 'includes/base.html' %}
{% load static %}

{% block import_data %}
{% endblock import_data %}

{% block annotate_data %}
{% endblock annotate_data %}

{% block contactpage %}
{% endblock contactpage %}

{% block include_style %}
<link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/style_new.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/progress_style.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/sweetalert.css' %}">

<style type="text/css">
    .action-button{
        background-color: red;
    }
</style>
{% endblock include_style %}

{% block include_script %}
<script type="text/javascript" src="{% static 'js/progress_js.js' %}"></script>
<script type="text/javascript" src="{% static 'js/sweetalert.min.js' %}"></script>

<script type="text/javascript">

    // Mapping the json labels with the division ids to load the contents into respective divisions
    const id_label_map = {
        text: "raw_article_content",
        checked_article: "checked_article_content",
        sent_article: "sent_article_content",
        summary: "summary_content",
        sent_summary: "sent_summary_content",
        title: "title_content"
    };

    
    // Function to display the sweet alert with the custom input along with the time (in milliseconds)
    function sweet_alert(message, alert_type, time_sec = 2000) {
        swal({
            title: '',
            text: message,
            timer: time_sec,
            type: alert_type,
            showConfirmButton: true
        });
    }


    // Function to load the next article (automatically finds the next article or take the next_id based on button click)
    function load_next_article(next_id=''){

        var current_id = $('#article_id').val();

        $.ajax({
            data: {'current_id': current_id, 'next_id': next_id, 'task_name': 'summ'},
            dataType: 'json',
            url: "{% url 'fetch_next_article'%}",
            type: "POST",
            // async: false,
            success: function (response) {

                // Updating the current id from the response
                current_id = response['data']['id'];
                $('#article_id').val(current_id);
                sessionStorage.setItem("article", current_id);

                //Decrease the step of the progress bar to starting
                decrease();

                //Display non to all fieldsets and display only the first fieldset
                $('fieldset').removeClass('d-none');
                $('fieldset').removeClass('d-block');
                $('fieldset').addClass('d-none');
                $('fieldset').css({"display":"none","position":"relative","opacity":0});
                $('#fieldset_0').removeClass('d-none');
                $('#fieldset_0').addClass('d-block');
                $('#fieldset_0').css({"display":"block","position":"relative","opacity":1});
                
                
                /* ID display in each step for the user reference*/
                $('#article_id_span').html(response['data']['wb_display']);
                $('#checked_article_id_span').html(response['data']['wb_display']);
                $('#sent_article_id_span').html(response['data']['wb_display']);
                $('#checked_article_id_span_disp_1').html(response['data']['wb_display']);
                $('#sent_summary_id_span').html(response['data']['wb_display']);
                $('#checked_article_id_span_disp_2').html(response['data']['wb_display']);

                /*Updating the article contents in the respective textareas*/
                $('#raw_article_content').val(response['data']["text"]);
                $('#checked_article_content').val(response['data']["checked_article"]);
                $('#checked_article_disp_1_content').val(response['data']["checked_article"]);
                $('#checked_article_disp_2_content').val(response['data']["checked_article"]);
                $('#sent_article_content').val(response['data']["sent_article"]);
                $('#summary_content').val(response['data']["summary"]);
                $('#sent_summary_content').val(response['data']["sent_summary"]);
                $('#title_content').val(response['data']["title"]);

                
                //Adding the btn classes based on the status for each article id
                $.each(response['articles'], function(index, value){

                    //Adding the btn-sm class for the article id
                    $('#article_'+value['id']).addClass('btn-sm');

                    //Removing all classes for the article id
                    $('#article_'+value['id']).removeClass('btn-success');
                    $('#article_'+value['id']).removeClass('btn-secondary');
                    $('#article_'+value['id']).removeClass('btn-primary');

                    if(value['id']==current_id){
                        //Adding the primary btn class for current article id
                        $('#article_'+current_id).addClass('btn-primary');
                    }
                    else{
                        if(value['status']=='completed'){
                            //Adding the success btn class for completed article id
                            $('#article_'+value['id']).addClass('btn-success');
                        }
                        else{
                            //Adding the secondar btn class for incomplete article id
                            $('#article_'+value['id']).addClass('btn-secondary');
                        }
                    }
                });

                // //Removing all classes for the current article id
                // $('#article_'+current_id).removeClass('btn-success');
                // $('#article_'+current_id).removeClass('btn-secondary');
                // $('#article_'+current_id).removeClass('btn-primary');

                // //Adding the primary btn class for current article id
                // $('#article_'+current_id).addClass('btn-primary');

            },
            error: function(err){
                console.log(err);
            }
        });
    }


    // Function to load the contents of single article given the next_label and save the current labels contents with validation
    function fetch_content(label='', next_label='', btn_type=''){
        console.log(label + "\t" + next_label + "\t" + btn_type);
        if(btn_type=="next"){
            var current_id = $('#article_id').val();
            var content = "";


            if(label in id_label_map){
                content = $("#"+id_label_map[label]).val();
            }

            if(content!=""){
                $.ajax({
                    data: {'current_id': current_id, 'label': label, 'content': content, 'next_label': next_label, 'task_name': 'summ'},
                    dataType: 'json',
                    url: "{% url 'save_contents'%}",
                    type: "POST",
                    // async: false,
                    success: function (response) {
                        console.log(response);
                        console.log(response['completed']);
                        console.log(typeof(response['completed']));
                        var time_sec = 2000
                        if(response['status']=='error'){
                            time_sec = 5000
                        }
                        else if(response['status']=='warning'){
                            time_sec = 3500
                        }
                        sweet_alert(response['message'], response['status'], time_sec);
                        
                        $('#checked_article_disp_1_content').val($('#checked_article_content').val());
                        $('#checked_article_disp_2_content').val($('#checked_article_content').val());

                        if(next_label in id_label_map){
                            if(response["next_label_content"]!=""){
                                $("#"+id_label_map[next_label]).val(response["next_label_content"]);
                            }
                        }

                        if(response['completed']=='True'){
                            $('article_'+current_id).removeClass('btn-secondary');
                            $('article_'+current_id).removeClass('btn-primary');
                            $('article_'+current_id).removeClass('btn-success');

                            $('article_'+current_id).addClass('btn-success');
                            $('article_'+current_id).addClass('btn-sm');
                            
                            load_next_article();
                        }
                    },
                    error: function(err){
                        console.log(err);
                    }
                });
            }
            else{
                console.log("Label: " + label);
            }
        }
        else if(btn_type=="finish"){

        }
    }


    // Function to sentencify the given content using the python code
    function sentencify_content(textarea_id, dest_id){
        var user_choice = confirm('Do you want to load default sentencification?');
        console.log("User Choice: " + user_choice);

        if(user_choice){
            var text = $('#'+textarea_id).val();

            $.ajax({
                data: {'text': text},
                dataType: 'json',
                url: "{% url 'sentenciy_text' %}",
                type: "POST",
                // async: false,
                success: function (response) {
                    console.log("sentencified_text: " + response['sent_text']);
                    $('#'+dest_id).val(response['sent_text']);
                },
                error: function(err){
                    console.log(err);
                }
            });
        }
    }


    // When document is ready loading the article contents and event handler to show/hide button
    $( document ).ready(function() {
        load_next_article();

        $('#sidebarCollapse').on('click', function () {
            var inp = $("#hide-show").html();
            inp = inp.toLowerCase();
            if(inp=="hide"){
                $('#article_panel').hide();
                $("#hide-show").html("Show");
                $("#hide-show-icon").removeClass("fa-chevron-left");
                $("#hide-show-icon").addClass("fa-chevron-right");
                $("#load_content").css({"width":"100%","left":"0%"});
                $("#article_panel").css("width","0%");
            }
            else{
                $('#article_panel').show();
                $("#hide-show").html("Hide");
                $("#hide-show-icon").removeClass("fa-chevron-right");
                $("#hide-show-icon").addClass("fa-chevron-left");
                $("#load_content").css({"width":"94.5%","left":"5%"});
                $("#article_panel").css("width","5%");
                $("#load_content").addClass("scrollbar-primary-2");
            }
        });
    });
</script>
{% endblock include_script %}


{% block content %}

<div class="container-fluid">
    <header class="header-section">
        <div class="row">
			<div class="col-lg-3">
				<button type="button" id="sidebarCollapse" class="btn btn-success">
		            <i class="fa fa-chevron-left" id="hide-show-icon"></i>&nbsp;<span id="hide-show">Hide</span>
		        </button>
			</div>
			<div class="col-lg-9">
			</div>
		</div>
    </header>
    <div class="article_content">
        
        <!-- Article panel for article ids display -->
        <div class="article-panel scrollbar-primary-2" id="article_panel" style="overflow-y: scroll;border: 1px solid blue;">
            <nav class="navbar bg-light">
                <ul class="navbar-nav" style="width: 100%;height:auto;">
                    {% for article in articles %}
                    <!-- For article in articles -->
                    <li class="nav-item" data-toggle="tooltip" title="all files are filled!">
                        <center>
                            <a class="nav-link" href="#">
                                {% if article.status == "completed" %}
                                    <button class="btn btm-sm btn-success" id='article_{{ article.id }}' onclick="load_next_article('{{ article.id }}')">
                                    {{ article.wb_display }}
                                    </button>
                                {% else %}
                                    <button class="btn btn-sm btn-secondary" id='article_{{ article.id }}' onclick="load_next_article('{{ article.id }}')">
                                    {{ article.wb_display }}
                                    </button>
                                {% endif %}
                            </a>
                        </center>
                    </li>
                    {% endfor %}

                </ul>
            </nav>
        </div>
        <!-- Article panel for article ids display (end) -->

        
        <!-- Dataset panel for article annotation -->
        <div class="dataset-panel scrollbar-primary-2" id="load_content" style="overflow-y: scroll;border: 1px solid red;">
            <div class="row justify-content-center" style="margin:0px;padding: 0px;">
                <div class="col-lg-12">
                    <div class="px-0 py-0 mx-0 my-0">
                        <form id="msform">
                            <div class="progress">
			                    <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuemin="0" aria-valuemax="100"></div>
			                </div>

                            <ul id="progressbar">
			                    <li class="active" id="article" data-toggle="tooltip" data-placement="top" title="View Article!"><strong>Article</strong></li>
			                    <li id="checked_article" data-toggle="tooltip" data-placement="top" title="View Checked Article!"><strong>Checked</strong></li>
			                    <li id="sent_article" data-toggle="tooltip" data-placement="top" title="View Sentencified Article!"><strong>Sentencification</strong></li>
			                    <li id="summary" data-toggle="tooltip" data-placement="top" title="View Summary!"><strong>Summary</strong></li>
			                    <li id="summ_sent" data-toggle="tooltip" data-placement="top" title="View Sentencified Summary!"><strong>Sentecified Summary</strong></li>
			                    <li id="article_title" data-toggle="tooltip" data-placement="top" title="View Title!"><strong>Title</strong></li>
			                    <li id="confirm" data-toggle="tooltip" data-placement="top" title="Finish!"><strong>Finish</strong></li>
			                </ul>
                            <hr>

                            <input type="text" value="" id="article_id" hidden>

                            <!-- Article Contents will be loaded here -->
                            <fieldset id="fieldset_0">

                                <div class="card border">
                                    <div class="card-heder">
                                        <p class="text-center card-title" style="font-size:12px;height:15px;">Raw article (ID: <span id="article_id_span"></span>)</p>
                                    </div>
                                    <textarea class="card-body text-area scrollbar-primary-2" id="raw_article_content" style="margin:0px; height:250px; width:100%;font-size:12px; font-weight:lighter; resize:none; max-height: 450px; min-height: auto; overflow-y: scroll; overflow-wrap: break-word;" placeholder="Raw article contents will be loaded here..." readonly></textarea>
                                </div>

			                    <input type="button" name="next" style="width: auto;" class="next action-button btn btn-sm" value="Copy Article & Next" onclick="fetch_content('text','checked_article','next')" data-toggle="tooltip" data-placement="top" title="View Checked Article!"/>

			                </fieldset>
                            <!-- Article Contents will be loaded here (end) -->

                            <!-- Article Checked contents will be loaded here -->
                            <fieldset class="d-none" id="fieldset_1">

                                <div class="card border">
                                    <div class="card-heder">
                                        <p class="text-center card-title" style="font-size:12px;height:15px;">Checked article (ID: <span id="checked_article_id_span"></span>)</p>
                                    </div>
                                    <textarea class="card-body text-area scrollbar-primary-2" id="checked_article_content" style="margin:0px; height:250px; width:100%;font-size:12px; font-weight:lighter; resize:none; max-height: 450px; min-height: auto; overflow-y: scroll; overflow-wrap: break-word; background-color: white;" placeholder="Checked article contents will be loaded here..."></textarea>
                                </div>

                                <input type="button" name="next" style="width: auto;" class="next action-button btn btn-sm" value="Save & Next" onclick="fetch_content('checked_article','sent_article','next')" data-toggle="tooltip" data-placement="top" title="View Sentencified Article!"/>
			                    <input type="button" name="previous" class="previous action-button-previous btn btn-sm" value="Previous" onclick="fetch_content('checked_article','text','prev')" data-toggle="tooltip" data-placement="top" title="View Article!"/>

                            </fieldset>
                            <!-- Article Checked contents will be loaded here (end) -->

                            <!-- Article sentencification contents will be loaded here -->
                            <fieldset class="d-none" id="fieldset_2">

                                <div class="card border">
                                    <div class="card-heder">
                                        <!-- <p class="text-center card-title" style="font-size:12px;height:15px;">Sentencified article (ID: <span id="sent_article_id_span"></span>)<span class="float-end"><button class="btn btn-warning btn-sm" onclick="sentencify_content('checked_article_content', 'sent_article_content')">Default sentencification</button></span></p> -->
                                        <p class="text-center card-title" style="font-size:12px;height:15px;">Sentencified article (ID: <span id="sent_article_id_span"></span>)<span class="float-end"></span></p>
                                    </div>
                                    <textarea class="card-body text-area scrollbar-primary-2" id="sent_article_content" style="margin:0px; height:250px; width:100%;font-size:12px; font-weight:lighter; resize:none; max-height: 450px; min-height: auto; overflow-y: scroll; overflow-wrap: break-word; background-color: white;" placeholder="Sentencified article contents will be loaded here..."></textarea>
                                </div>

                                <input type="button" name="next" style="width: auto;" class="next action-button btn btn-sm" value="Save & Next" onclick="fetch_content('sent_article','summary','next')" data-toggle="tooltip" data-placement="top" title="View Summary!"/>
                                <input type="button" name="previous" class="previous action-button-previous btn btn-sm" value="Previous" onclick="fetch_content('sent_article','checked_article','prev')" data-toggle="tooltip" data-placement="top" title="View Checked Article!" />

                            </fieldset>
                            <!-- Article sentencification contents will be loaded here (end) -->

                            <!-- Article-summary contents will be loaded here -->
                            <fieldset class="d-none" id="fieldset_3">

                                <div class="card border">
                                    <div class="card-heder">
                                        <p class="text-center card-title" style="font-size:12px;height:15px;">Checked article (ID: <span id="checked_article_id_span_disp_1"></span>)</p>
                                    </div>
                                    <textarea class="card-body text-area scrollbar-primary-2" id="checked_article_disp_1_content" style="margin:0px; height:250px; width:100%;font-size:12px; font-weight:lighter; resize:none; max-height: 300px; min-height: auto; overflow-y: scroll; overflow-wrap: break-word;" placeholder="Checked article contents will be loaded here..." readonly></textarea>
                                </div>

                                <br>

                                <div class="card border">
                                    <div class="card-heder">
                                        <p class="text-center card-title" style="font-size:12px;height:15px;">Summary</p>
                                    </div>
                                    <textarea class="card-body text-area scrollbar-primary-2" id="summary_content" style="margin:0px; height:150px; width:100%;font-size:12px; font-weight:lighter; resize:none; max-height: 200px; min-height: auto; overflow-y: scroll; overflow-wrap: break-word; background-color: white;" placeholder="Summary contents will be loaded here..."></textarea>
                                </div>
			                    	
			                    <input type="button" style="width: auto;" name="next" class="next action-button btn btn-sm" value="Save & Next" onclick="fetch_content('summary','sent_summary','next')" data-toggle="tooltip" data-placement="top" title="View Sentencified Summary!"/>
                                <input type="button" name="previous" class="previous action-button-previous btn btn-sm" value="Previous" onclick="fetch_content('summary','sent_article','prev')" data-toggle="tooltip" data-placement="top" title="View Sentencified Article!"/>	

                            </fieldset>
                            <!-- Article-summary contents will be loaded here (end) -->

                            <!-- Summary sentencification contents will be loaded here -->
                            <fieldset class="d-none" id="fieldset_4">

                                <div class="card border">
                                    <div class="card-heder">
                                        <!-- <p class="text-center card-title" style="font-size:12px;height:15px;">Sentenficied summary (ID: <span id="sent_summary_id_span_disp"></span>)<span class="float-end"><button class="btn btn-warning btn-sm" onclick="sentencify_content('summary_content', 'sent_summary_content')">Default sentencification</button></span></p> -->
                                        <p class="text-center card-title" style="font-size:12px;height:15px;">Sentenficied summary (ID: <span id="sent_summary_id_span_disp"></span>)<span class="float-end"></span></p>
                                    </div>
                                    <textarea class="card-body text-area scrollbar-primary-2" id="sent_summary_content" style="margin:0px; height:250px; width:100%;font-size:12px; font-weight:lighter; resize:none; max-height: 450px; min-height: auto; overflow-y: scroll; overflow-wrap: break-word; background-color: white;" placeholder="Sentecified summary contents will be loaded here..."></textarea>
                                </div>

			                    <input type="button" style="width: auto;" name="next" class="next action-button btn btn-sm" value="Save & Next" onclick="fetch_content('sent_summary','title','next')" data-toggle="tooltip" data-placement="top" title="View Title!"/>
                                <input type="button" name="previous" class="previous action-button-previous btn btn-sm" value="Previous" onclick="fetch_content('sent_summary','summary','prev')" data-toggle="tooltip" data-placement="top" title="View Summary!"/>

                            </fieldset>
                            <!-- Summary sentencification contents will be loaded here (end) -->


                            <!-- Article-title contents will be loaded here -->
                            <fieldset class="d-none" id="fieldset_5">

                                <div class="card border">
                                    <div class="card-heder">
                                        <p class="text-center card-title" style="font-size:12px;height:15px;">Checked article (ID: <span id="checked_article_id_span_disp_2"></span>)</p>
                                    </div>
                                    <textarea class="card-body text-area scrollbar-primary-2" id="checked_article_disp_2_content" style="margin:0px; height:250px; width:100%;font-size:12px; font-weight:lighter; resize:none; max-height: 400px; min-height: auto; overflow-y: scroll; overflow-wrap: break-word;" placeholder="Checked article contents will be loaded here..." readonly></textarea>
                                </div>

                                <br>
			                
                                <div class="card border">
                                    <div class="card-heder">
                                        <p class="text-center card-title" style="font-size:12px;height:15px;">Title</p>
                                    </div>
                                    <textarea class="card-body text-area scrollbar-primary-2" id="title_content" style="margin:0px; height:50px; width:100%;font-size:12px; font-weight:lighter; resize:none; max-height: 50px; min-height: auto; overflow-y: scroll; overflow-wrap: break-word; background-color: white;" placeholder="Title contents will be loaded here..."></textarea>
                                </div>

			                    <input type="button" style="width: auto;" name="next" class="next action-button btn btn-sm" value="Save & Finish"  data-toggle="tooltip" data-placement="top" title="Finish!" onclick="fetch_content('title','finish','next')" />
                                <input type="button" name="previous" class="previous action-button-previous btn btn-sm" value="Previous" onclick="fetch_content('title','sent_summary','prev')" data-toggle="tooltip" data-placement="top" title="View Sentencified Summary!"/>
			                
                            </fieldset>
                            <!-- Article-title contents will be loaded here (end) -->

                            
                            <!-- Success Message for the completion of article annotation steps -->
                            <fieldset class="d-none" id="fieldset_6">
			                
                                <div class="form-card">
			                        <h2 class="text-center text-success"><strong>SUCCESS !</strong></h2><br>
			                        <div class="row justify-content-center">
			                            <div class="col-7 text-center">
			                                <h5 class="purple-text text-center">You Have Successfully Finished</h5>
			                            </div>
			                        </div>
			                    </div>
			                
                                <input type="button" name="previous" class="previous action-button-previous btn btn-sm" value="Previous" onclick="fetch_content('finish','title','prev')" data-toggle="tooltip" data-placement="top" title="View Title!"/>
			                
                            </fieldset>
                            <!-- Success Message for the completion of article annotation steps (end) -->

                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Dataset panel for article annotation (end) -->

    </div>
</div>

{% endblock content %}

{% block page_footer %}
{% endblock page_footer %}