{% extends 'includes/base.html' %}

{% block homepage %}
{% endblock homepage %}

{% block aboutpage %}
{% endblock aboutpage %}

{% block taskspage %}
{% endblock taskspage %}

{% block user_dashboard %}
{% endblock user_dashboard %}

{% block lead_dashboard %}
{% endblock lead_dashboard %}

{% block manager_dashboard %}
{% endblock manager_dashboard %}

{% block content %}
  <div class="container py-2">
    <h4 class="text-center">Manage Data</h4>
    <table class="table table-sm table-hover table-responsive-sm text-center">
      <thead>
        <th>File Name</th>
        <th>Progress (Completed/Total)</th>
        <th>Status</th>
        <th>Actions</th>
      </thead>
      <tbody>
        {% for task in task_folders %}
          <tr>
            <td>{{ task.file_name }}</td>
            <td>{{ task.completed }}/{{ task.no_of_samples }}</td>
            {% if task.status != 'pending' %}
            <td style="color:green;" >{{ task.status }}</td>
            {% else %}
            <td style="color:red;" >{{ task.status }}</td>
            {% endif %}

            <td>
              <a href="{% url 'load_tasks' task.file_name %}" onclick="window.open(this.href, 'Snopzer',
              'left=20,top=20,toolbar=1,resizable=0'); return false;"><button class="btn btn-warning btn-sm">Annotate</button></a>
            {% if task.status != 'pending' %}
              <a href="{% url 'download_data' task.file_name %}" target="_blank"><button class="btn btn-success btn-sm">Download</button></a>
            {% endif %}
            </td>
        {% endfor %}
      </tbody>
    </table>

  </div>
{% endblock content %}

{% block page_footer %}
{% endblock page_footer %}